* {
  overflow-x: hidden; }

body,
button {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  margin: 0%;
  padding: 0.5rem;
  padding-top: 2rem; }

/**
 * Basic typography style for copy text
 */
.heading-secondary {
  position: relative;
  overflow-y: hidden;
  font-size: 1.7rem;
  color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#8EC6C5), to(#8566aa));
  background-image: linear-gradient(to right, #8EC6C5, #8566aa);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s; }
  .heading-secondary:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.5); }

.heading-tertiary {
  font-size: 1.8rem;
  color: #000000; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.btn-text {
  font-size: 1.3rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #2E6BD1;
  text-decoration: none;
  padding: 0.7rem 2rem;
  transition: all 0.3s;
  outline: none; }
  .btn-text:hover {
    transform: translateY(-6px);
    box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.5); }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

.header {
  width: 95%;
  margin: 0 auto;
  text-transform: capitalize; }
  .header__logo {
    height: 3rem; }
  .header__text-box {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center; }
  .header__bg-img {
    margin-top: 8rem;
    width: 80vw; }

.heading-primary {
  display: flex;
  overflow: hidden; }
  .heading-primary--main--1, .heading-primary--main--2 {
    font-size: 3.4rem; }
  .heading-primary--main--1 {
    position: relative;
    color: #8ec6c5;
    animation: moveInUp 1s;
    -webkit-animation: moveInLeft 1s;
    transition: all 1s; }
  .heading-primary--main--2 {
    color: white;
    padding: 0.2rem 3rem;
    background: linear-gradient(to left, white 50%, #8ec6c5 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease;
    animation: moveInRight 1s forwards;
    transition: all 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    margin-top: 4rem; }
  .heading-primary a {
    margin-top: 2rem; }

.line-vertical-1, .line-vertical-2 {
  width: 0.2rem; }

.line-horizontal-1, .line-horizontal-2 {
  width: 32rem; }

.line-horizontal-1 {
  width: 40rem;
  position: absolute;
  top: 18.5rem; }

@keyframes moveInLeft {
  0% {
    transform: translateX(300px);
    opacity: 0; }
  25% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    background-position: right bottom;
    background-color: #ffffff; }
  100% {
    background-position: left bottom;
    background-color: #8ec6c5; } }

.section-about {
  position: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 8rem;
  text-transform: uppercase; }
  .section-about .row {
    position: relative;
    display: flex;
    width: 75%;
    text-align: left;
    margin: 0 auto;
    align-items: center;
    padding: 0rem 3rem; }

.col {
  position: relative; }
  .col-1 {
    width: 41vw;
    font-size: 1rem;
    font-weight: 300; }
    .col-1 p {
      line-height: 2rem;
      text-transform: capitalize; }
    .col-1 a {
      position: absolute; }
  .col-2 .composition img {
    width: 40rem; }
