// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$font-size-base:10px;

$color-light-blue :rgb(245, 248, 250);

$margin--small:2rem;
$margin--medium:4rem;
