.section-about {
    position: relative;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: $margin--large;
    text-transform: uppercase;
}

.row{
    position: relative;
    display: flex;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    // justify-content: center;
    // flex-direction: column;
    align-items: center;
    padding: 0rem 2rem;
    
}

.col {
    position: relative;
    &-1{
        // color: $color-white;//for darkmode
        width: 40vw;
        font-size: 1rem;
        font-weight: 300;
        // overflow: hidden;
        margin-right:$margin--small !important ;
        
        p{
            line-height: 2rem;
            text-transform: capitalize;
        }

        & a {
        position: absolute; 
        }
    }

    &-2{
        .composition img{
            width: 39rem;
        }
    }
}