.heading-secondary  {
    position: relative;
    overflow: hidden;
    font-size: 1.8rem;
    color: $color-black;
    background-image: -webkit-gradient(linear, left top, right top, from(#8EC6C5), to(#8566aa));
    background-image: linear-gradient(to right, #8EC6C5, #8566aa);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s;
    height: 20vh;
    // color: white;//for darkmode
    &:hover  {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 3rem rgba(0,0,0,0.5);
    }
}

.heading-tertiary {
    font-size: 1.8rem;
    // color: $color-white;//for dark mode
}

.u-margin-top-small {
    margin-top: $margin--small;
}

.u-margin-bottom-large{
    margin-bottom: $margin--large;
}

.u-margin-bottom-medium{
    margin-bottom: $margin--medium;
}

.btn-text {
    font-size: 1.3rem;
    font-weight: 700;
    color: $color-white;
    background-color: $color-blue;
    text-decoration: none;
    padding:0.7rem 2rem;
    transition: all 0.3s;
    outline: none;

    &:hover {
        transform: translateY(-6px);
        box-shadow:  0.5rem 1rem 3rem rgba(0,0,0,0.5);
    }
}