.section-about {
    position: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: $margin--large;
    text-transform: uppercase;
    

    .row{
        position: relative;
        display: flex;
        width: 75%;
        text-align: left;
        margin: 0 auto;
        // justify-content: center;
        // flex-direction: column;
        // padding: 1rem 3rem;
        align-items: center;
        padding: 0rem 3rem;
    }
}

.col {
    position: relative;
    &-1{
        width: 41vw;
        font-size: 1rem;
        font-weight: 300;
        // overflow: hidden;
        
        p{
            line-height: 2rem;
            text-transform: capitalize;
        }

        & a {
        position: absolute; 
        }
    }

    &-2{
        .composition img{
            width: 40rem
        }
    }
}